<nav class="navbar navbar-default">
  <a href="#" class="navbar-brand">Recipe Book</a>

  <a routerLink="/recipes">Recipes</a>
  <a routerLink="/shopping-list">Shopping List</a>

  <ul class="nav navbar-nav navbar-right">
    <div class="dropdown">
      <a
        class="dropdown-toggle"
        href="#"
        role="button"
        id="manage"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Manage
      </a>

      <ul class="dropdown-menu" aria-labelledby="manage">
        <li><a (click)="onSaveData()">Save Data</a></li>
        <li><a (click)="onFetchData()">Fetch Data</a></li>
      </ul>
    </div>
  </ul>
</nav>
